<html>
<head>
  <style type="text/css">
    body { background-color: lightgray; }
    img  { width: <%= @card_width %>;    }
  </style>
</head>
<body>
  <% @data.each do |text, card| %>
    <img src="card?text=<%=URI.encode(text)%>&card=<%=URI.encode(card)%>"/>
  <% end %>
</body>
</html>