<html>
  <body style="background-color: lightgray">
    <% @data.each do |text, card| %>
      <img src="card?text=<%=text%>&card=<%=card%>" style="width:<%=@card_width%>"/>
    <% end %>
  </body>
</html>