<html>
<head>
  <style type="text/css">
    body { background-color: lightgray; }
    img  { width: <%= @card_width %>;    }
  </style>
</head>
<body>
  <% @data.each do |text, card| %>
    <img src="card?text=<%=escape(text)%>&card=<%=escape(card)%>"/>
  <% end %>

  <p><a href="<%=@permalink%>">Permalink</a> <a href="/">Start Over</a></p>
</body>
</html>