<div class="footer">
<p>This application was created under a Creative Commons BY-NC-SA 2.0 license. <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a> is hilarious and wrong. Go buy it.</p>
</div>